<div class="container-fluid org-info-container">
  <div class="org-info">
      <h1>{{organization}}</h1>
      <h2>Donate</h2>
  </div>
  <img class="verified" src="images/SecureIcon@2x.png" width="28px" height="auto">
</div>