<div ng-include="'/views/public/partials/navbar.html'"></div>

<div class="main-content">
  <div class="container">

    <div id="signup-title" class="row">
      <div class="col-sm-12">
        <h1 style="margin-bottom: 30px;">Join Us Today</h1>
      </div>
    </div>

    <div id="signup-container" class="row" style="margin-bottom: 30px;">
      <div class="col-md-5" style="text-align: left;" ng-include="'/views/public/partials/signup-form.html'">
      </div>
      <div class="col-md-4 col-md-offset-2 flat" style="text-align: left; margin-top: 30px;">
        <ul class="plan plan1">
          <li class="plan-name">
            Pricing
          </li>
          <li class="plan-price">
            <strong>7% + $0.39</strong> per donation
          </li>
          <li>
            <strong>Unlimited</strong> SMS donations
          </li>
          <li>
            <strong>Unlimited</strong> Web donations
          </li>
          <li>
            <strong>Unlimited</strong> Mobile donations
          </li>
          <li>
            <strong>24/7</strong> Email and phone support
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
<div ng-include="'/views/public/partials/footer.html'"></div>
