<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <hr>
      </div>
      <div class="col-sm-8">
        <h4>We're here to help &mdash; seriously.</h4>
        <p>
          Have any questions about volume pricing, new features, or just want more information? If there's anything we can do to help, please don't hesitate to email us.
        </p>
        <br>

        <div class="row">
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li><strong>Samuel McLaughlin</strong></li>
              <li>Cofounder</li>
              <li>sam@omnipledge.com</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li><strong>Ricky Kirkendall</strong></li>
              <li>Cofounder</li>
              <li>ricky@omnipledge.com</li>
            </ul>
          </div>
        </div>
        <br>

        <h4>About Omnipledge</h4>
        <p>
          Omnipledge is the easiest way to take SMS and mobile donations for your organization or cause. We believe that every cause should have access to the best donation tools, regardless of budget or size. No signup costs, no monthly fees and no donation limits.
        </p>

      </div>
      <div class="col-sm-3 col-sm-offset-1">
        <h4>Site</h4>
        <ul class="list-unstyled">
          <li><a href="/">Home</a></li>
          <li style="display: none;"><a href="#">How it Works</a></li>
          <li><a href="#/features">Features</a></li>
          <li><a href="#/help">Help</a></li>
          <li><a href="#/signup">Register</a></li>
          <li><a href="/admin.html">Login</a></li>
        </ul>
        <br>

        <h4>Legal</h4>
        <ul class="list-unstyled">
          <li><a href="https://www.iubenda.com/privacy-policy/658352" target="_blank">Privacy Policy</a></li>
          <li><a href="#/terms">Terms of Service</a></li>

        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" style="text-align: right;">
        &copy; Campaignr LLC
      </div>
    </div>
  </div>
</div>
