<nav class="navbar navbar-static-top navbar-omni" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="/images/logo@2x.png" height="45px" width="auto"></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/">Home</a></li>
      <li style="display: none;"><a href="#/how">How it Works</a></li>
      <li><a href="#/features">Features</a></li>
      <li><a href="#/help">Support</a></li>
      <li><a href="#/signup">Register</a></li>
      <li><a href="/admin.html" class="signin">Login</a></li>
    </ul>
  </div><!-- /.container-fluid -->
</nav>
