<h4 class="pricing-headline">Here's what you get</h4>

<ul class="list-unstyled">
  <li><strong>Unlimited SMS donations</strong></li>
  <li><p class="pricing-feature">No fees per SMS, no fees per month.</p></li>
</ul>

<ul class="list-unstyled">
  <li><strong>World-class mobile donations page</strong></li>
  <li><p class="pricing-feature">Our donation page is secured with bank-grade 128-bit SSL encryption to ensure your donor's always have a smooth transaction.</p></li>
</ul>

<ul class="list-unstyled">
  <li><strong>24/7 email and phone support</strong></li>
  <li><p class="pricing-feature">We're not happy if you're not happy. That's why we're available 24/7 to answer questions and help you get the most out of Omnipledge.</p></li>
</ul>

<ul class="list-unstyled">
  <li><strong>No training required</strong></li>
  <li><p class="pricing-feature"> No expensive on-boarding necessary. We wanted to make Omnipledge so simple you could sign-up online and start taking donations <i>in under 2 minutes</i>.
  </p></li>
</ul>

<ul class="list-unstyled">
  <li><strong>Only 7% + $0.39 per donation</strong></li>
  <li><p class="pricing-feature">We believe in honest, straight-forward pricing. We only make money when you make money.
    </p></li>
</ul>

