<div id="signup-title" class="row">
  <div class="col-sm-12">
    <h1 style="margin-bottom: 15px;">Join us today</h1>
    <p>Sign up today to start collecting cash through SMS messaging, mobile, and desktop donations.</p>
  </div>
</div>
<form role="form" class="signup-form" name="signupForm" novalidate ng-submit="signup(newUser, signupForm)">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email"
           ng-model="newUser.email"
           name="email"
           autocomplete="off"
           class="form-control"
           id="email"
           placeholder="name@example.com"
           required>
    <div
      class="text-danger"
      style="font-size: 0.85em; margin-top: 5px;"
      ng-show="signupForm.email.$invalid && (!signupForm.email.$pristine || triedSignup)"
      >
      Invalid email
    </div>
  </div>
  <div class="form-group">
    <label for="firstName">First name</label>
    <input type="text"
           ng-model="newUser.firstName"
           autocomplete="off"
           class="form-control"
           id="firstName"
           name="firstName"
           required>
    <div
      class="text-danger"
      style="font-size: 0.85em; margin-top: 5px;"
      ng-show="signupForm.firstName.$invalid && (!signupForm.firstName.$pristine || triedSignup)"
      >
      You must enter first name.
    </div>
  </div>
  <div class="form-group">
    <label for="lastName">Last name</label>
    <input type="text"
           ng-model="newUser.lastName"
           autocomplete="off"
           class="form-control"
           id="lastName"
           name="lastName"
           required>
    <div
      class="text-danger"
      style="font-size: 0.85em; margin-top: 5px;"
      ng-show="signupForm.lastName.$invalid && (!signupForm.lastName.$pristine || triedSignup)"
      >
      You must enter last name.
    </div>
  </div>
  <div class="form-group">
    <label for="birthday">Birthday</label>
    <input type="date"
           ng-model="newUser.birthday"
           autocomplete="off"
           class="form-control"
           id="birthday"
           name="birthday"
           required>
    <div
      class="text-danger"
      style="font-size: 0.85em; margin-top: 5px;"
      ng-show="signupForm.birthday.$invalid && (!signupForm.birthday.$pristine || triedSignup)"
      >
      Invalid date
    </div>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"
           ng-model="newUser.isBusiness"
           autocomplete="off"
           id="isBusiness"
           placeholder="name@example.com"> Is Business
    </label>
  </div>
  <div class="form-group">
    <div class="form-group">
      <label for="password1">Password</label>
      <input type="password"
             ng-model="newUser.password"
             autocomplete="off"
             class="form-control"
             id="password1"
             name="password1"
             placeholder=""
             required>
      <p class="help-block">
        Must be more than 6 characters.
      </p>
    </div>
  </div>
  <div class="form-group">
    <label for="textcode">Text code</label>
    <input type="text"
           ng-model="newUser.textCode"
           autocomplete="off"
           class="form-control"
           id="textcode"
           name="textcode"
           placeholder="RACE"
           required>
    <p class="help-block">
      Donors will text this code to your Omnipledge phone number to donate. No spaces or special characters, please.
    </p>
  </div>
  <div class="form-group">
    <label for="addressLineOne">Address</label>
    <input type="text"
           ng-model="newUser.addressLineOne"
           autocomplete="off"
           class="form-control"
           id="addressLineOne"
           name="addressLineOne"
           required>
    <input type="text"
           ng-model="newUser.addressLineTwo"
           autocomplete="off"
           class="form-control"
           id="addressLineTwo"
           style="margin-top: 10px;">
    <div
      class="text-danger"
      style="font-size: 0.85em; margin-top: 5px;"
      ng-show="signupForm.addressLineOne.$invalid && (!signupForm.addressLineOne.$pristine || triedSignup)"
      >
      You must enter address.
    </div>
  </div>
  <div class="form-group">
    <label for="addressCity">City</label>
    <input type="text"
           ng-model="newUser.addressCity"
           autocomplete="off"
           class="form-control"
           id="addressCity"
           name="addressCity"
           required>
    <div
      class="text-danger"
      style="font-size: 0.85em; margin-top: 5px;"
      ng-show="signupForm.addressCity.$invalid && (!signupForm.addressCity.$pristine || triedSignup)"
      >
      You must enter city.
    </div>
  </div>
  <div class="form-group">
    <label for="addressState">State</label>
    <input type="text"
           ng-model="newUser.addressState"
           autocomplete="off"
           class="form-control"
           id="addressState"
           name="addressState"
           required>
    <div
      class="text-danger"
      style="font-size: 0.85em; margin-top: 5px;"
      ng-show="signupForm.addressState.$invalid && (!signupForm.addressState.$pristine || triedSignup)"
      >
      You must enter state.
    </div>
  </div>
  <div class="form-group">
    <label for="addressZip">Zipcode</label>
    <input type="text"
           ng-model="newUser.addressZip"
           autocomplete="off"
           class="form-control"
           id="addressZip"
           name="addressZip"
           required>
    <div
      class="text-danger"
      style="font-size: 0.85em; margin-top: 5px;"
      ng-show="signupForm.addressZip.$invalid && (!signupForm.addressZip.$pristine || triedSignup)"
      >
      You must enter zip code.
    </div>
  </div>
  <div class="form-group">
    <label for="addressCountry">Country</label>
    <select
        ng-model="newUser.addressCountry"
        class="form-control"
        id="addressCountry"
        name="addressCountry"
        required>
      <option value="">- Choose a country -</option>
      <option value="AF">Afghanistan</option>
      <option value="AX">ALA Aland Islands</option>
      <option value="AL">Albania</option>
      <option value="DZ">Algeria</option>
      <option value="AS">American Samoa</option>
      <option value="AD">Andorra</option>
      <option value="AO">Angola</option>
      <option value="AI">Anguilla</option>
      <option value="AQ">Antarctica</option>
      <option value="AG">Antigua and Barbuda</option>
      <option value="AR">Argentina</option>
      <option value="AM">Armenia</option>
      <option value="AW">Aruba</option>
      <option value="AU">Australia</option>
      <option value="AT">Austria</option>
      <option value="AZ">Azerbaijan</option>
      <option value="BS">Bahamas</option>
      <option value="BH">Bahrain</option>
      <option value="BD">Bangladesh</option>
      <option value="BB">Barbados</option>
      <option value="BY">Belarus</option>
      <option value="BE">Belgium</option>
      <option value="BZ">Belize</option>
      <option value="BJ">Benin</option>
      <option value="BM">Bermuda</option>
      <option value="BT">Bhutan</option>
      <option value="BO">Bolivia</option>
      <option value="BA">Bosnia and Herzegovina</option>
      <option value="BW">Botswana</option>
      <option value="BV">Bouvet Island</option>
      <option value="BR">Brazil</option>
      <option value="VG">British Virgin Islands</option>
      <option value="IO">British Indian Ocean Territory</option>
      <option value="BN">Brunei Darussalam</option>
      <option value="BG">Bulgaria</option>
      <option value="BF">Burkina Faso</option>
      <option value="BI">Burundi</option>
      <option value="KH">Cambodia</option>
      <option value="CM">Cameroon</option>
      <option value="CA">Canada</option>
      <option value="CV">Cape Verde</option>
      <option value="KY">Cayman Islands</option>
      <option value="CF">Central African Republic</option>
      <option value="TD">Chad</option>
      <option value="CL">Chile</option>
      <option value="CN">China</option>
      <option value="HK">Hong Kong, Special Administrative Region of China</option>
      <option value="MO">Macao, Special Administrative Region of China</option>
      <option value="CX">Christmas Island</option>
      <option value="CC">Cocos (Keeling) Islands</option>
      <option value="CO">Colombia</option>
      <option value="KM">Comoros</option>
      <option value="CG">Congo (Brazzaville)</option>
      <option value="CD">Congo, Democratic Republic of the</option>
      <option value="CK">Cook Islands</option>
      <option value="CR">Costa Rica</option>
      <option value="CI">Côte d'Ivoire</option>
      <option value="HR">Croatia</option>
      <option value="CU">Cuba</option>
      <option value="CY">Cyprus</option>
      <option value="CZ">Czech Republic</option>
      <option value="DK">Denmark</option>
      <option value="DJ">Djibouti</option>
      <option value="DM">Dominica</option>
      <option value="DO">Dominican Republic</option>
      <option value="EC">Ecuador</option>
      <option value="EG">Egypt</option>
      <option value="SV">El Salvador</option>
      <option value="GQ">Equatorial Guinea</option>
      <option value="ER">Eritrea</option>
      <option value="EE">Estonia</option>
      <option value="ET">Ethiopia</option>
      <option value="FK">Falkland Islands (Malvinas)</option>
      <option value="FO">Faroe Islands</option>
      <option value="FJ">Fiji</option>
      <option value="FI">Finland</option>
      <option value="FR">France</option>
      <option value="GF">French Guiana</option>
      <option value="PF">French Polynesia</option>
      <option value="TF">French Southern Territories</option>
      <option value="GA">Gabon</option>
      <option value="GM">Gambia</option>
      <option value="GE">Georgia</option>
      <option value="DE">Germany</option>
      <option value="GH">Ghana</option>
      <option value="GI">Gibraltar</option>
      <option value="GR">Greece</option>
      <option value="GL">Greenland</option>
      <option value="GD">Grenada</option>
      <option value="GP">Guadeloupe</option>
      <option value="GU">Guam</option>
      <option value="GT">Guatemala</option>
      <option value="GG">Guernsey</option>
      <option value="GN">Guinea</option>
      <option value="GW">Guinea-Bissau</option>
      <option value="GY">Guyana</option>
      <option value="HT">Haiti</option>
      <option value="HM">Heard Island and Mcdonald Islands</option>
      <option value="VA">Holy See (Vatican City State)</option>
      <option value="HN">Honduras</option>
      <option value="HU">Hungary</option>
      <option value="IS">Iceland</option>
      <option value="IN">India</option>
      <option value="ID">Indonesia</option>
      <option value="IR">Iran, Islamic Republic of</option>
      <option value="IQ">Iraq</option>
      <option value="IE">Ireland</option>
      <option value="IM">Isle of Man</option>
      <option value="IL">Israel</option>
      <option value="IT">Italy</option>
      <option value="JM">Jamaica</option>
      <option value="JP">Japan</option>
      <option value="JE">Jersey</option>
      <option value="JO">Jordan</option>
      <option value="KZ">Kazakhstan</option>
      <option value="KE">Kenya</option>
      <option value="KI">Kiribati</option>
      <option value="KP">Korea, Democratic People's Republic of</option>
      <option value="KR">Korea, Republic of</option>
      <option value="KW">Kuwait</option>
      <option value="KG">Kyrgyzstan</option>
      <option value="LA">Lao PDR</option>
      <option value="LV">Latvia</option>
      <option value="LB">Lebanon</option>
      <option value="LS">Lesotho</option>
      <option value="LR">Liberia</option>
      <option value="LY">Libya</option>
      <option value="LI">Liechtenstein</option>
      <option value="LT">Lithuania</option>
      <option value="LU">Luxembourg</option>
      <option value="MK">Macedonia, Republic of</option>
      <option value="MG">Madagascar</option>
      <option value="MW">Malawi</option>
      <option value="MY">Malaysia</option>
      <option value="MV">Maldives</option>
      <option value="ML">Mali</option>
      <option value="MT">Malta</option>
      <option value="MH">Marshall Islands</option>
      <option value="MQ">Martinique</option>
      <option value="MR">Mauritania</option>
      <option value="MU">Mauritius</option>
      <option value="YT">Mayotte</option>
      <option value="MX">Mexico</option>
      <option value="FM">Micronesia, Federated States of</option>
      <option value="MD">Moldova</option>
      <option value="MC">Monaco</option>
      <option value="MN">Mongolia</option>
      <option value="ME">Montenegro</option>
      <option value="MS">Montserrat</option>
      <option value="MA">Morocco</option>
      <option value="MZ">Mozambique</option>
      <option value="MM">Myanmar</option>
      <option value="NA">Namibia</option>
      <option value="NR">Nauru</option>
      <option value="NP">Nepal</option>
      <option value="NL">Netherlands</option>
      <option value="AN">Netherlands Antilles</option>
      <option value="NC">New Caledonia</option>
      <option value="NZ">New Zealand</option>
      <option value="NI">Nicaragua</option>
      <option value="NE">Niger</option>
      <option value="NG">Nigeria</option>
      <option value="NU">Niue</option>
      <option value="NF">Norfolk Island</option>
      <option value="MP">Northern Mariana Islands</option>
      <option value="NO">Norway</option>
      <option value="OM">Oman</option>
      <option value="PK">Pakistan</option>
      <option value="PW">Palau</option>
      <option value="PS">Palestinian Territory, Occupied</option>
      <option value="PA">Panama</option>
      <option value="PG">Papua New Guinea</option>
      <option value="PY">Paraguay</option>
      <option value="PE">Peru</option>
      <option value="PH">Philippines</option>
      <option value="PN">Pitcairn</option>
      <option value="PL">Poland</option>
      <option value="PT">Portugal</option>
      <option value="PR">Puerto Rico</option>
      <option value="QA">Qatar</option>
      <option value="RE">Réunion</option>
      <option value="RO">Romania</option>
      <option value="RU">Russian Federation</option>
      <option value="RW">Rwanda</option>
      <option value="BL">Saint-Barthélemy</option>
      <option value="SH">Saint Helena</option>
      <option value="KN">Saint Kitts and Nevis</option>
      <option value="LC">Saint Lucia</option>
      <option value="MF">Saint-Martin (French part)</option>
      <option value="PM">Saint Pierre and Miquelon</option>
      <option value="VC">Saint Vincent and Grenadines</option>
      <option value="WS">Samoa</option>
      <option value="SM">San Marino</option>
      <option value="ST">Sao Tome and Principe</option>
      <option value="SA">Saudi Arabia</option>
      <option value="SN">Senegal</option>
      <option value="RS">Serbia</option>
      <option value="SC">Seychelles</option>
      <option value="SL">Sierra Leone</option>
      <option value="SG">Singapore</option>
      <option value="SK">Slovakia</option>
      <option value="SI">Slovenia</option>
      <option value="SB">Solomon Islands</option>
      <option value="SO">Somalia</option>
      <option value="ZA">South Africa</option>
      <option value="GS">South Georgia and the South Sandwich Islands</option>
      <option value="SS">South Sudan</option>
      <option value="ES">Spain</option>
      <option value="LK">Sri Lanka</option>
      <option value="SD">Sudan</option>
      <option value="SR">Suriname *</option>
      <option value="SJ">Svalbard and Jan Mayen Islands</option>
      <option value="SZ">Swaziland</option>
      <option value="SE">Sweden</option>
      <option value="CH">Switzerland</option>
      <option value="SY">Syrian Arab Republic (Syria)</option>
      <option value="TW">Taiwan, Republic of China</option>
      <option value="TJ">Tajikistan</option>
      <option value="TZ">Tanzania *, United Republic of</option>
      <option value="TH">Thailand</option>
      <option value="TL">Timor-Leste</option>
      <option value="TG">Togo</option>
      <option value="TK">Tokelau</option>
      <option value="TO">Tonga</option>
      <option value="TT">Trinidad and Tobago</option>
      <option value="TN">Tunisia</option>
      <option value="TR">Turkey</option>
      <option value="TM">Turkmenistan</option>
      <option value="TC">Turks and Caicos Islands</option>
      <option value="TV">Tuvalu</option>
      <option value="UG">Uganda</option>
      <option value="UA">Ukraine</option>
      <option value="AE">United Arab Emirates</option>
      <option value="GB">United Kingdom</option>
      <option value="US">United States of America</option>
      <option value="UM">United States Minor Outlying Islands</option>
      <option value="UY">Uruguay</option>
      <option value="UZ">Uzbekistan</option>
      <option value="VU">Vanuatu</option>
      <option value="VE">Venezuela (Bolivarian Republic of)</option>
      <option value="VN">Viet Nam</option>
      <option value="VI">Virgin Islands, US</option>
      <option value="WF">Wallis and Futuna Islands</option>
      <option value="EH">Western Sahara</option>
      <option value="YE">Yemen</option>
      <option value="ZM">Zambia</option>
      <option value="ZW">Zimbabwe</option>
    </select>
    <div
      class="text-danger"
      style="font-size: 0.85em; margin-top: 5px;"
      ng-show="signupForm.addressCountry.$invalid && (!signupForm.addressCountry.$pristine || triedSignup)"
      >
      You must enter country.
    </div>
  </div>



  <div class="alert alert-info" ng-show="signedUp">
    <strong>Success!</strong>
    {{result}}
  </div>

  <div class="alert alert-warning" ng-show="error">
    <strong>Oops!</strong>
    {{result}}
  </div>

  <p class="help-block">
    By registering an account you agree to Omnipledge's <a href="https://www.iubenda.com/privacy-policy/658352">Privacy Policy</a> and <a href="/#/terms">Terms of Service</a>.
  </p>

  <button type="submit" class="op-btn btn-block" ng-disabled="signedUp">
    <i class="fa fa-refresh fa-spin" ng-show="loading"></i>
    Register
  </button>

</form>
