<div id="signup-title" class="row">
  <div class="col-sm-12">
    <h1 style="margin-bottom: 15px;">Subscription</h1>
    <p>Enter subscription payment card details.</p>
  </div>
</div>
<form method="POST" id="subscription-payment-form" class="signup-form" role="form" ng-submit="submitPaymentForm()">
  <span class="payment-errors"></span>

  <div class="form-group">
    <label class="control-label">Card Number</label>
    <input type="text" class="form-control" size="20" data-stripe="number" ng-disabled="submitting">
  </div>

  <div class="row">
    <div class="col-md-6 form-group">
      <label class="control-label" style="white-space: nowrap;">Expiration (MM/YY)</label>
      <div>
        <input type="text" class="form-control" size="2" data-stripe="exp_month" ng-disabled="submitting" style="display: inline-block; max-width: 60px;">
        <span style="display: inline-block; margin: 0 5px;">/</span>
        <input type="text" class="form-control" size="2" data-stripe="exp_year" ng-disabled="submitting" style="display: inline-block; max-width: 60px;">
      </div>
    </div>
    <div class="col-md-6 form-group">
      <label class="control-label">CVC</label>
      <input type="text" class="form-control" size="4" data-stripe="cvc" ng-disabled="submitting">
    </div>
  </div>

  <br />

  <input type="submit" class="op-btn btn-block" class="submit" value="Save" ng-disabled="submitting">

</form>