<div class="recipient-block" ng-include="'/views/donate/partials/recipient-bar.html'"></div>

<div class="info-block">

  <h3>Enter payment information</h3>

<form name="myForm" stripe-form="handleStripe">
  <div class="field-row clearfix">
    <label for="cardNumber">Card</label>
    <input id="cardNumber" type="text" class="field" placeholder="•••• •••• •••• ••••"
           ng-model="number"
           payments-validate="card"
           payments-format="card"
           payments-type="type"/>
  </div>

  <div class="field-row clearfix">
    <label for="expiry">Expiry</label>
    <input id="expiry" type="text" class="field" placeholder="MM / YY" ng-model="expiry" payments-validate="expiry" payments-format="expiry"/>
  </div>

  <div class="field-row clearfix">
    <label for="cvc">CVC</label>
    <input id="cvc" type="text" class="field" placeholder="123" ng-model="cvc" payments-validate="cvc" payments-format="cvc" payments-type-model="type"/>
  </div>
</div>

    <style>
      #process{
        animation-iteration-count: 1;
        -webkit-animation-iteration-count: 1;
      }
      #thanks{
        animation-iteration-count: 1;
        -webkit-animation-iteration-count: 1;
      }
      .hidden{
        display: none !important;
      }
    </style>

<div class="next-block">
  <div class="alert alert-danger" ng-show="error">
    <strong>Oops! </strong>{{message || 'We could not connect to the server, please try again in a few minutes.'}}
  </div>

  <div id="donate-container">

  <button class="op-btn primary"
          type="submit"
          ng-click="donate()"
          ng-hide="disabled"
          ng-disabled="loading">

    <span id="process" class="hidden">
      <i class="fa fa-circle-o-notch fa-spin"></i>
    </span>

    Give {{(donation.amount/100)||0 | currency}}
  </button>
  </div>

  <div class="op-btn primary" id="thanks" ng-show="disabled" style="pointer-events : none;">
    {{message}}
  </div>

</div>
</form>

<div class="info-block">

  <center><p>Donations made through Omnipledge are processed by the Campaignr LLC entity securely via Stripe before being transferred to
  the account holder.</p></center>
</div>
