<div class="recipient-block" ng-include="'/views/donate/partials/recipient-bar.html'"></div>

<div class="info-block">

  <h3>Enter receipt information</h3>
  <form name="info">
  <div class="field-row clearfix">
    <label for="name" >Name</label>
    <input id="name" type="text" class="field" placeholder="Your Name" ng-model="donation.name" required=""/>
  </div>

  <div class="field-row clearfix">
    <label for="email" >Email</label>
    <input id="email" type="email" class="field" placeholder="you@email.com" ng-model="donation.email" required=""/>
  </div>

  <div class="field-row clearfix">
    <label for="phone" >Phone</label>
    <input id="phone" type="tel" class="field" placeholder="(555) 555 - 5555" ng-model="donation.phone" required=""/>
  </div>
  </form>
</div>

<div class="next-block">
  <button class="op-btn success" ng-disabled="info.$invalid" ng-click="next()">
    Next
  </button>
</div>