<div class="recipient-block" ng-include="'/views/donate/partials/recipient-bar.html'"></div>

<div class="info-block" style="padding-right: 10px;">

  <h3>Select an amount</h3>

  <div class="btn-row">
    <a class="amount" ng-click="setAmount(10)">
      <i class="fa fa-check-circle" ng-show="amount==10"></i>
      $10</a>
  </div>

  <div class="btn-row ">

    <a class="amount" ng-click="setAmount(25)">
      <i class="fa fa-check-circle" ng-show="amount==25"></i>
      $25</a>
  </div>

  <div class="btn-row ">
    <a class="amount" ng-click="setAmount(50)">
      <i class="fa fa-check-circle" ng-show="amount==50"></i>
      $50
    </a>
  </div>

  <div class="btn-row">
    <a class="amount" ng-click="setAmount(100)">
      <i class="fa fa-check-circle" ng-show="amount==100"></i>
      $100
    </a>
  </div>

  <div class="btn-row " ng-hide="other">
    <a class="amount" ng-click="showOther()">Other</a>
  </div>
  <div class="field-row clearfix" ng-show="other">
    <label for="amount" >Amount</label>
    <input id="amount" type="number" class="field" placeholder="20.00" ng-model="amount"/>
  </div>

</div>

<div class="next-block">
  <button class="op-btn success" ng-disabled="!isValid()" ng-click="next()">
    Next
  </button>
</div>