<div class="modal-header">
  <h3 class="modal-title">Change Password</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-7">
      <form role="form">
        <div class="form-group">
          <label for="oldPassword">Old Password</label>
          <input type="password" class="form-control" id="oldPassword" placeholder="Old Password" ng-model="request.oldPassword">
        </div>

        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input type="password" class="form-control" id="newPassword" placeholder="New Password" ng-model="request.newPassword">
        </div>

        <div class="form-group">
          <label for="newPasswordConfirm">New Password (Confirm)</label>
          <input type="password" class="form-control" id="newPasswordConfirm" placeholder="New Password">
        </div>

        <div class="alert alert-warning" ng-show="error">
          <strong>Oops!</strong>
          {{error}}
        </div>

      </form>

    </div>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary" ng-click="ok()">Change Password</button>

</div>
