  <div class="modal-header">
    <h3 class="modal-title">Connect Bank Account <small class="pull-right" style="font-size: 28px;"><i class="fa fa-lock"></i></small></h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-7">
        <form role="form">
          <div class="form-group">
            <label for="exampleInputFile">Account type</label><br>
            <div class="btn-group">
              <label class="btn btn-success" ng-model="bankAccount.corporation" btn-radio="true" uncheckable>Corporation</label>
              <label class="btn btn-success" ng-model="bankAccount.corporation" btn-radio="false" uncheckable>Individual</label>
            </div>
          </div>

          <div class="form-group" ng-show="bankAccount.corporation">
            <label for="legal-name-corp">Corporation Name</label>
            <input type="text" class="form-control" id="legal-name-corp" placeholder="Acme Surplus Inc." ng-model="bankAccount.legalName">
            <p class="help-block">In order to validate your account, this must be the legal corporation name.</p>
          </div>

          <div class="form-group" ng-hide="bankAccount.corporation">
            <label for="legal-name">Full Name</label>
            <input type="text" class="form-control" id="legal-name" placeholder="John Smith" ng-model="bankAccount.legalName">
            <p class="help-block">In order to validate your account, this must be your full legal name.</p>
          </div>

          <div class="form-group">
            <label for="routing-number">Routing Number</label>
            <input type="text" class="form-control" id="routing-number" placeholder="" ng-model="bankAccount.routingNumber">
          </div>

          <div class="form-group">
            <label for="account-number">Account Number</label>
            <input type="text" class="form-control" id="account-number" placeholder="" ng-model="bankAccount.accountNumber">
          </div>

          <div class="alert alert-warning" ng-show="error">
            <strong>Oops!</strong>
            {{error}}
          </div>

        </form>

      </div>
      <div class="col-md-4 col-md-offset-1 col-sm-5">
        <h4>Account & Routing Info</h4>
        <img src="/images/sample-check.gif" width="100%" height="auto">

        <h4 style="margin-top: 30px;">Need Help?</h4>
        <p>
          Questions? Comments? Prefer to be paid by paper check or some other means? <a target="_blank" href="mailto:ricky@omnipledge.com">Let us know</a>.
        </p>

        <h4 style="margin-top: 30px;">Powered by Stripe</h4>
        <p class="header">
        Bank account transfers powered by Stripe. <a href="https://www.stripe.com" target="_blank">Learn more.</a>
        </p>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()">Connect</button>

  </div>
