

.navbar-omni{
  background-color: transparent;
  font-family: "museo-sans", sans-serif;
  margin-bottom: 0px;
  font-size:14.5px;
  font-weight: 400;
  a {
    color: #2c99b6;
//    color:#87DD28;
//    color:#87DDB2;

    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    background-color: transparent;
  }

  .navbar-brand{
    padding-top: 20px;
    padding-bottom: 10px;
  }

  li{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  li > a{
    padding-top: 10px;
    padding-bottom: 10px;
  }


  li > a.signin{
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    opacity: 1;
    -webkit-box-shadow: 0 0 0 1px #388CA3 inset;
    box-shadow: 0 0 0 1px #388CA3 inset;
    letter-spacing: 0.75px;
    font-weight: 500;
    color:#388CA3;
  }

  li > a.signin:hover{
    transition: all 250ms linear;
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    opacity: 1;
    -webkit-box-shadow: 0 0 0 1px #388CA3 inset;
    box-shadow: 0 0 0 1px #388CA3 inset;
    letter-spacing: 0.75px;
    font-weight: 500;
    background-color:#388CA3;
    color:#E4FAEF;
  }

}

.navbar-omni.navbar-omni-dark{
  background-color: $background-dark;
  a {
    color: #FFF;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}
