html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

*:focus {
  outline: none; }

body {
  color: #3b3b3e;
  font-size: medium;
  font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #C7C7D1; }

a {
  color: #2c99b6; }

a:hover, a:focus {
  color: #2a6496;
  text-decoration: none; }

.footer {
  font-family: "museo-sans";
  font-size: 14px;
  padding-top: 60px;
  padding-bottom: 44px;
  color: #8E8E94; }
  .footer hr {
    margin-top: 0px;
    margin-bottom: 30px;
    border: 0;
    border-top: 1px solid #C7C7D1; }
  .footer h4, .footer .h4 {
    color: #5B5B5E;
    font-size: 16px; }

.op-btn {
  font-family: "museo-sans";
  font-size: 16px;
  color: #FFFFFF;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
  background: #5A9D39;
  transition: all 250ms linear;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 1.0em 1.25em;
  line-height: 1;
  font-weight: 600;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  text-align: center;
  border: 2px solid #5A9D39;
  margin-right: 7.5px;
  cursor: pointer; }

.op-btn:hover {
  color: #FFFFFF;
  text-decoration: none;
  background: #4C8430;
  border: 2px solid #4C8430; }

.navbar-omni {
  background-color: transparent;
  font-family: "museo-sans", sans-serif;
  margin-bottom: 0px;
  font-size: 14.5px;
  font-weight: 400; }
  .navbar-omni a {
    color: #2c99b6;
    text-decoration: none; }
  .navbar-omni a:hover {
    text-decoration: underline;
    background-color: transparent; }
  .navbar-omni .navbar-brand {
    padding-top: 20px;
    padding-bottom: 10px; }
  .navbar-omni li {
    padding-top: 20px;
    padding-bottom: 20px; }
  .navbar-omni li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  .navbar-omni li > a.signin {
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    opacity: 1;
    -webkit-box-shadow: 0 0 0 1px #388CA3 inset;
    box-shadow: 0 0 0 1px #388CA3 inset;
    letter-spacing: 0.75px;
    font-weight: 500;
    color: #388CA3; }
  .navbar-omni li > a.signin:hover {
    transition: all 250ms linear;
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    opacity: 1;
    -webkit-box-shadow: 0 0 0 1px #388CA3 inset;
    box-shadow: 0 0 0 1px #388CA3 inset;
    letter-spacing: 0.75px;
    font-weight: 500;
    background-color: #388CA3;
    color: #E4FAEF; }

.navbar-omni.navbar-omni-dark {
  background-color: #222223; }
  .navbar-omni.navbar-omni-dark a {
    color: #FFF;
    text-decoration: none; }
  .navbar-omni.navbar-omni-dark a:hover {
    text-decoration: underline; }

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent; }

.admin {
  font-weight: 400; }

.statistics {
  background: #20870c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #20870c 0%, #5a9d39 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #20870c), color-stop(100%, #5a9d39));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #20870c 0%, #5a9d39 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #20870c 0%, #5a9d39 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #20870c 0%, #5a9d39 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #20870c 0%, #5a9d39 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#20870c', endColorstr='#5a9d39',GradientType=0 );
  /* IE6-9 */
  padding-top: 40px;
  padding-bottom: 40px;
  color: #FFF;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1); }
  .statistics h1.amount {
    font-weight: 400; }
  .statistics h3 {
    font-size: 18px; }
