@import 'base';
@import 'navbar';

$font-light : "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-med : "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-bold : "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

.admin{
  font-weight: 400;
}

.statistics{
//  background-color: #5A9D39;

  background: #20870c; /* Old browsers */
  background: -moz-linear-gradient(top,  #20870c 0%, #5a9d39 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#20870c), color-stop(100%,#5a9d39)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #20870c 0%,#5a9d39 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #20870c 0%,#5a9d39 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #20870c 0%,#5a9d39 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #20870c 0%,#5a9d39 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20870c', endColorstr='#5a9d39',GradientType=0 ); /* IE6-9 */

  padding-top: 40px;
  padding-bottom: 40px;
  color: #FFF;
  text-align: left;

  text-shadow: $heading-shadow;

  h1.amount{
    font-weight: 400;
  }

  h3{
    font-size:18px;
  }
}