html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

.navbar-omni {
  background-color: transparent;
  font-family: "museo-sans", sans-serif;
  margin-bottom: 0px; }
  .navbar-omni a {
    color: #9C3FEE;
    text-decoration: none; }
  .navbar-omni a:hover {
    text-decoration: underline;
    background-color: transparent; }
  .navbar-omni .navbar-brand {
    padding-top: 20px;
    padding-bottom: 10px; }
  .navbar-omni li > a {
    padding-top: 30px;
    padding-bottom: 30px; }

.navbar-omni.navbar-omni-dark {
  background-color: #222223; }
  .navbar-omni.navbar-omni-dark a {
    color: #FFF;
    text-decoration: none; }
  .navbar-omni.navbar-omni-dark a:hover {
    text-decoration: underline; }

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent; }

body {
  color: #3b3b3e;
  font-size: medium;
  font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent; }

h1, h2, h3, h4, h5, h6 {
  font-family: "museo-slab"; }

.marketing {
  font-family: "museo-slab", sans-serif;
  font-size: medium;
  color: #3b3b3e; }
  .marketing .hero {
    position: relative;
    color: #333;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1000px;
    width: 100%;
    padding-top: 45px;
    padding-bottom: 60px;
    text-align: center; }
    .marketing .hero h1 {
      padding-bottom: 15px;
      font-weight: bold;
      font-family: "museo-sans";
      font-size: 36px;
      color: #3B3B3E;
      line-height: 42px;
      /* Raise funds for your: */ }
    .marketing .hero .pitch p {
      font-family: "museo-slab";
      font-size: 20px;
      color: #5B5B5E;
      line-height: 26px;
      /* Omnipledge helps you: */
      padding-bottom: 30px; }
    .marketing .hero p {
      font-family: "museo-slab";
      font-size: 16px;
      color: #5B5B5E;
      line-height: 26px;
      /* Omnipledge helps you: */
      padding-bottom: 30px; }
    .marketing .hero .form-group p {
      padding-bottom: 0px; }
    .marketing .hero hr {
      margin-top: 60px; }
    .marketing .hero h3 {
      font-family: "museo-sans";
      font-size: 18px;
      color: #3B3B3E;
      line-height: 25px;
      margin-bottom: 30px; }
    .marketing .hero img {
      margin-bottom: 30px; }
    .marketing .hero .feature {
      margin-bottom: 60px; }
    .marketing .hero .message-shot {
      background: url("/images/Minimal-iPhone-Dark-Flat@2x.png") no-repeat right top;
      background-size: auto 100%;
      height: 600px; }
    .marketing .hero .op-btn.signup {
      font-family: "museo-sans";
      font-size: 20px;
      color: #FFFFFF;
      text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
      padding: 15px 90px;
      border-radius: 4px;
      background: #5A9D39; }

@media screen {
  .recipient-block {
    background-color: #222223;
    width: 100%;
    color: white;
    padding: 30px 10px; }
    .recipient-block .org-info {
      width: 80%; }
      .recipient-block .org-info h1 {
        font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        color: white;
        font-size: 1.2em;
        margin: 0;
        padding: 0;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1); }
      .recipient-block .org-info h2 {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
        font-size: 1.2em;
        margin: 0;
        padding: 0;
        color: white;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1); }
    .recipient-block .verified {
      position: absolute;
      top: 30px;
      right: 10px; }

  .info-block {
    padding-left: 10px;
    padding-bottom: 30px; }
    .info-block h3 {
      font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      color: #3b3b3e;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
      font-size: 1em;
      margin-bottom: 30px; }
    .info-block .field-row {
      border-bottom: 1px solid #dddddd; }
      .info-block .field-row label {
        font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        color: #3b3b3e;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
        font-weight: 500;
        font-size: 1em;
        text-align: left;
        padding-top: 5px;
        padding-bottom: 3px;
        width: 30%;
        display: inline-block;
        float: left; }
      .info-block .field-row input {
        font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 1em;
        color: #3b3b3e;
        padding-top: 5px;
        padding-bottom: 3px;
        border: none;
        background: transparent;
        box-shadow: none;
        width: 70%;
        display: inline-block;
        float: left; }
      .info-block .field-row input:focus {
        outline: none !important;
        text-shadow: none;
        border: none; }
    .info-block .btn-row {
      text-align: center;
      font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #dddddd; }
      .info-block .btn-row .amount {
        font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        width: 100%;
        color: #3b3b3e;
        font-size: 1.2em; }
      .info-block .btn-row .amount:hover, .info-block .btn-row .amount:active {
        text-decoration: none; }

  .op-btn:hover, .op-btn:active {
    text-decoration: none; }

  .next-block {
    padding: 20px 10px; }
    .next-block .op-btn {
      border-radius: 5px;
      width: 100%;
      height: 75px;
      line-height: 75px;
      display: block;
      text-align: center;
      color: #FFF;
      font-size: 1.5em;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 300;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .next-block .op-btn.success {
      background: #77bc1f;
      border: 1px solid #66a11a; }
    .next-block .op-btn.success:active {
      background: #6ead1d;
      border: 1px solid #588b16; }
    .next-block .op-btn.primary {
      background: #5d92e6;
      border: 1px solid #5383cf; }
    .next-block .op-btn.primary:active {
      background: #5789d8;
      border: 1px solid #4b76ba; } }
.flat .plan {
  border-radius: 6px;
  list-style: none;
  padding: 0 0 20px;
  margin: 0 0 15px;
  background: #F9F9F9;
  text-align: center; }

.flat .plan li {
  padding: 10px 15px;
  color: #46465C;
  border-top: 1px solid #D8D8D8;
  -webkit-transition: 300ms;
  transition: 300ms; }

.flat .plan li.plan-price {
  border-top: 0; }

.flat .plan li.plan-name {
  border-radius: 6px 6px 0 0;
  padding: 15px;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  background: #46465C;
  margin-bottom: 30px;
  border-top: 0; }

.flat .plan li > strong {
  color: #46465C; }

.flat .plan li.plan-action {
  margin-top: 10px;
  border-top: 0; }

.flat .plan.featured {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.flat .plan.featured li.plan-name {
  background: #000; }

.flat .plan.featured:hover li.plan-name {
  background: #46465C; }

.flat .plan:hover li.plan-name {
  background: #000; }

.footer {
  background-color: #222223;
  color: #8E8E94;
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 20px; }

.statistics {
  background-color: #5A9D39;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #FFF;
  text-align: left; }
