$background-dark : #222223;

$text-dark : #3B3B3E;
$text-white : #FFF;
$divider-gray : #DDD;

$success-bg : #77BC1F;
$success-border : #66A11A;
$success-bg-active : #6EAD1D;
$success-border-active : #588B16;

$primary-bg : #5D92E6;
$primary-border : #5383CF;
$primary-bg-active : #5789D8;
$primary-border-active : #4B76BA;

$heading:"museo-slab";

$font-light : "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-med : "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-bold : "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$x-padding : 10px;
$text-field-padding-top : 5px;
$text-field-padding-bottom : 3px;

$heading-shadow : 0px 1px 0px rgba(0, 0, 0, 0.10);
$label-shadow : 0px 1px 0px rgba(0, 0, 0, 0.10);
$btn-shadow : 0px 1px 0px rgba(0, 0, 0, 0.10);

$divider-border : 1px solid $divider-gray;

@import 'reset';

body {
  color       : $text-dark;
  font-size   : medium;
  font-family: $font-med;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #C7C7D1;
}

a{
  color:#2c99b6;
}

a:hover, a:focus {
  color: #2a6496;
  text-decoration: none;
}

.footer{
  font-family: "museo-sans";
  font-size:14px;
//  background-color: $background-dark;
  padding-top: 60px;
  padding-bottom: 60px - 16px;
  color: #8E8E94;

  hr {
    margin-top: 0px;
    margin-bottom: 30px;
    border: 0;
    border-top: 1px solid #C7C7D1;
  }



  h4, .h4 {
    color: #5B5B5E;
    font-size: 16px;
  }
}

.op-btn {
  font-family   : "museo-sans";
  font-size:16px;
  color         : #FFFFFF;
  text-shadow   : 0px 1px 1px rgba(255, 255, 255, 0.10);

  background    : #5A9D39;

  transition: all 250ms linear;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 1.0em 1.25em;
  line-height: 1;
  font-weight: 600;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  text-align: center;
  border    : 2px solid #5A9D39;

  margin-right: 7.5px;
  cursor: pointer;
}

.op-btn:hover {
  color         : #FFFFFF;

  text-decoration: none;
  background    : #4C8430;
  border    : 2px solid #4C8430;
}
