@import url(/styles/_animate.css);
html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

*:focus {
  outline: none; }

body {
  color: #3B3B3E;
  font-size: medium;
  font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #C7C7D1; }

a {
  color: #2c99b6; }

a:hover, a:focus {
  color: #2a6496;
  text-decoration: none; }

.footer {
  font-family: "museo-sans";
  font-size: 14px;
  padding-top: 60px;
  padding-bottom: 44px;
  color: #8E8E94; }
  .footer hr {
    margin-top: 0px;
    margin-bottom: 30px;
    border: 0;
    border-top: 1px solid #C7C7D1; }
  .footer h4, .footer .h4 {
    color: #5B5B5E;
    font-size: 16px; }

.op-btn {
  font-family: "museo-sans";
  font-size: 16px;
  color: #FFFFFF;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
  background: #5A9D39;
  transition: all 250ms linear;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 1.0em 1.25em;
  line-height: 1;
  font-weight: 600;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  text-align: center;
  border: 2px solid #5A9D39;
  margin-right: 7.5px;
  cursor: pointer; }

.op-btn:hover {
  color: #FFFFFF;
  text-decoration: none;
  background: #4C8430;
  border: 2px solid #4C8430; }

@media screen {
  .recipient-block {
    background-color: #222223;
    width: 100%;
    color: #FFF;
    padding: 30px 10px; }
    .recipient-block .org-info {
      width: 80%; }
      .recipient-block .org-info h1 {
        font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        color: #FFF;
        font-size: 1.2em;
        margin: 0;
        padding: 0;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1); }
      .recipient-block .org-info h2 {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
        font-size: 1.2em;
        margin: 0;
        padding: 0;
        color: #FFF;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1); }
    .recipient-block .verified {
      position: absolute;
      top: 30px;
      right: 10px; }

  .info-block {
    padding-left: 10px;
    padding-bottom: 30px; }
    .info-block h3 {
      font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      color: #3B3B3E;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
      font-size: 1em;
      margin-bottom: 30px; }
    .info-block .field-row {
      border-bottom: 1px solid #DDD; }
      .info-block .field-row label {
        font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        color: #3B3B3E;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
        font-weight: 500;
        font-size: 1em;
        text-align: left;
        padding-top: 5px;
        padding-bottom: 3px;
        width: 30%;
        display: inline-block;
        float: left; }
      .info-block .field-row input {
        font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 1em;
        color: #3B3B3E;
        padding-top: 5px;
        padding-bottom: 3px;
        border: none;
        background: transparent;
        box-shadow: none;
        width: 70%;
        display: inline-block;
        float: left; }
      .info-block .field-row input:focus {
        outline: none !important;
        text-shadow: none;
        border: none; }
    .info-block .btn-row {
      text-align: center;
      font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #DDD; }
      .info-block .btn-row .amount {
        font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        width: 100%;
        color: #3B3B3E;
        font-size: 1.2em; }
      .info-block .btn-row .amount:hover, .info-block .btn-row .amount:active {
        text-decoration: none; }

  .op-btn:hover, .op-btn:active {
    text-decoration: none; }

  .next-block {
    padding: 20px 10px; }
    .next-block .op-btn {
      border-radius: 5px;
      width: 100%;
      height: 75px;
      display: block;
      text-align: center;
      color: #FFF;
      font-size: 1.5em;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 300;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .next-block .op-btn.success {
      background: #77BC1F;
      border: 1px solid #66A11A; }
    .next-block .op-btn.success:active {
      background: #6EAD1D;
      border: 1px solid #588B16; }
    .next-block .op-btn.primary {
      background: #5D92E6;
      border: 1px solid #5383CF; }
    .next-block .op-btn.primary:active {
      background: #5789D8;
      border: 1px solid #4B76BA; } }

/*# sourceMappingURL=donate.css.map */
