@import 'base';
@import '/styles/_animate.css';

$font-light : "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-med : "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-bold : "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@media screen {

  .recipient-block {
    background-color : $background-dark;
    width            : 100%;
    color            : $text-white;
    padding          : 30px 10px;

    .org-info {
      width : 80%;
      h1 {
        font-family : $font-bold;
        color       : $text-white;
        font-size   : 1.2em;
        margin      : 0;
        padding     : 0;
        text-shadow : $heading-shadow;
      }

      h2 {
        font-family : $font-light;
        font-weight : 300;
        font-size   : 1.2em;
        margin      : 0;
        padding     : 0;
        color       : $text-white;
        text-shadow : $heading-shadow;
      }

    }

    .verified {
      position : absolute;
      top      : 30px;
      right    : $x-padding;
    }
  }

  .info-block {
    padding-left   : $x-padding;
    padding-bottom : 30px;

    h3 {
      font-family   : $font-bold;
      color         : $text-dark;
      text-shadow   : $heading-shadow;
      font-size     : 1em;
      margin-bottom : 30px;
    }

    .field-row {
      border-bottom : $divider-border;

      label {
        //Font styling
        font-family    : $font-med;
        color          : $text-dark;
        text-shadow    : $label-shadow;
        font-weight    : 500;
        font-size      : 1em;
        text-align     : left;

        //Match input padding
        padding-top    : $text-field-padding-top;
        padding-bottom : $text-field-padding-bottom;

        //Sizing
        width          : 30%;
        display        : inline-block;
        float          : left;
      }

      input {
        //Font sizing
        font-family    : $font-med;
        font-size      : 1em;
        color          : $text-dark;
        padding-top    : $text-field-padding-top;
        padding-bottom : $text-field-padding-bottom;

        //Reset browser styles
        border         : none;
        background     : transparent;
        box-shadow     : none;

        //Sizing
        width          : 70%;
        display        : inline-block;
        float          : left;
      }

      input:focus {
        //Reset browser styles
        outline     : none !important;
        text-shadow : none;
        border      : none;
      }
    }

    .btn-row {
      text-align     : center;
      font-family    : $font-bold;
      padding-top    : 10px;
      padding-bottom : 10px;
      border-bottom  : $divider-border;

      .checkbox {

      }

      .amount {
        font-family : $font-bold;
        width       : 100%;
        color       : $text-dark;
        font-size   : 1.2em;
      }

      .amount:hover, .amount:active {
        text-decoration : none;
      }
    }
  }


  .op-btn:hover, .op-btn:active {
    text-decoration : none;
  }

  .next-block {
    padding : 20px 10px;


    .op-btn {
      border-radius : 5px;
      width         : 100%;
      height        : 75px;
      display       : block;
      text-align    : center;
      color         : #FFF;
      font-size     : 1.5em;
      font-family   : $font-light;
      font-weight   : 300;

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .op-btn.success {
      background : $success-bg;
      border     : 1px solid $success-border;
    }

    .op-btn.success:active{
      background : $success-bg-active;
      border     : 1px solid $success-border-active;
    }

    .op-btn.primary {
      background : $primary-bg;
      border     : 1px solid $primary-border;
    }

    .op-btn.primary:active {
      background : $primary-bg-active;
      border     : 1px solid $primary-border-active;
    }

  }

}
