@import 'base';
@import 'navbar';

$font-light : "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-med : "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-bold : "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@media screen {
  body{
//    background-color: #E6FCF1;
    background-color: #F7FCF9;

  }


  .marketing {
    font-family : "museo-slab", sans-serif;
    font-size   : medium;
    color       : $text-dark;
    font-weight: 300;
//    background-color: #87DDB2;
//    background-color: #E4FAEF;
//        background-color: #ECFFF5;


    #introduction{
      margin-bottom: -1;

    }

    #support-menu{
      margin-right: 45px;
      padding: 15px;
      border: 1px solid #D0E4DA;
      border-radius: 6px;
      background-color: #FFF;
    }


    .signup-form{
      padding: 15px;
      border: 1px solid #D0E4DA;
      border-radius: 6px;
      background-color: #FFF;
//      background-color: #D0E4DA;
    }


    .integrations{
      background-color: #3B3B3E;
      padding-top: 30px;
      padding-bottom: 60px - 30px;

      h3{
        border-top:1px #8E8E94 solid;
        text-align: center;

        .head-container{
          color: #C7C7D1;
          font-size: 24px;
          margin-top:-12px;

          .head{
            background-color: #3B3B3E;
            padding-left: 15px;
            padding-right:15px;
          }
        }
      }
    }

    #featured{
      padding-top: 60px;
    }

    .main-content {
      position                : relative;
      color                   : #333;
      -webkit-background-size : cover;
      -moz-background-size    : cover;
      -o-background-size      : cover;
      background-size         : cover;
      width                   : 100%;
      text-align              : center;
      padding-top: 30px;

      h1 {
        padding-bottom : 15px;
        font-weight    : bold;

        font-family    : "museo-sans";
        font-size      : 36px;
        color          : #3B3B3E;
        line-height    : 42px;
        /* Raise funds for your: */
      }

      .pitch {
        padding-bottom : 75px;

        p {
          font-family    : "museo-slab";
          font-size      : 20px;
          color          : #5B5B5E;
          line-height    : 26px;
          /* Omnipledge helps you: */
          padding-bottom : 30px;
        }

      }
      p {
        font-family    : "museo-slab";
        font-size      : 16px;
        color          : #5B5B5E;
        line-height    : 26px;
        /* Omnipledge helps you: */
        padding-bottom : 30px;
      }

      .form-group {
        p {
          padding-bottom : 0px;
        }
      }
      hr {
//        margin-top : 60px;
      }

      h3 {
        font-family   : "museo-sans";
        font-size     : 18px;
        color         : #3B3B3E;
        line-height   : 25px;
        margin-bottom : 30px;
      }

      img {
        margin-bottom : 0px;
        max-width:100%;
      }

      .features-row-1 {
        margin-bottom : 60px;
      }

      .feature{
        img{
          padding-bottom: 15px;
        }
      }

      .message-shot {
        background      : url("/images/Minimal-iPhone-Dark-Flat@2x.png") no-repeat right top;
        background-size : auto 100%;
        height          : 600px;
      }


      .op-btn.learn-more {
        margin-left: 7.5px;

        font-family   : "museo-sans";
                color: #5A9D39;
        background-color: transparent;

        border-radius: 4px;
        text-transform: uppercase;
        border    : 2px solid #5A9D39;
        padding: 1.0em 1.25em;
        line-height: 1;
        font-size: 16px;
        font-weight: 600;
        display: inline-block;
        -webkit-font-smoothing: antialiased;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        white-space: nowrap;
        text-align: center;
      }

      .op-btn.learn-more:hover{
        border    : 2px solid #4C8430;
        color:#4C8430;
      }
    }



    .flat .plan {
      border-radius : 6px;
      list-style    : none;
      padding       : 0 0 20px;
      margin        : 0 0 15px;
      background    : #F9F9F9;
      text-align    : center;
    }
    .flat .plan li {
      padding            : 10px 15px;
      color              : #46465C;
      border-top         : 1px solid #D8D8D8;
      -webkit-transition : 300ms;
      transition         : 300ms;
    }
    .flat .plan li.plan-price {
      border-top : 0;
    }
    .flat .plan li.plan-name {
      border-radius : 6px 6px 0 0;
      padding       : 15px;
      font-size     : 24px;
      line-height   : 24px;
      color         : #fff;
      background    : #46465C;
      margin-bottom : 30px;
      border-top    : 0;
    }
    .flat .plan li > strong {
      color : #46465C;
    }
    .flat .plan li.plan-action {
      margin-top : 10px;
      border-top : 0;
    }
    .flat .plan.featured {
      -webkit-transform : scale(1.1);
      -ms-transform     : scale(1.1);
      transform         : scale(1.1);
    }
    .flat .plan.featured li.plan-name {
      background : #000;
    }
    .flat .plan.featured:hover li.plan-name {
      background : #46465C;
    }
    .flat .plan:hover li.plan-name {
      background : #000;
    }

    .navbar-nav {

      a.signin{
        margin-left:15px;
      }

    }

    h4.pricing-headline{
      margin-top: 0px;
      margin-bottom: 30px;
      font-size:22px;
    }

    .pricing-feature{

        font-family: "museo-sans";
        font-size: 14px;
        color: #8E8E94;

    }

    p.help-block{
      font-size: 14px;
    }
  }
}

