html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

*:focus {
  outline: none; }

body {
  color: #3B3B3E;
  font-size: medium;
  font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #C7C7D1; }

a {
  color: #2c99b6; }

a:hover, a:focus {
  color: #2a6496;
  text-decoration: none; }

.footer {
  font-family: "museo-sans";
  font-size: 14px;
  padding-top: 60px;
  padding-bottom: 44px;
  color: #8E8E94; }
  .footer hr {
    margin-top: 0px;
    margin-bottom: 30px;
    border: 0;
    border-top: 1px solid #C7C7D1; }
  .footer h4, .footer .h4 {
    color: #5B5B5E;
    font-size: 16px; }

.op-btn {
  font-family: "museo-sans";
  font-size: 16px;
  color: #FFFFFF;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
  background: #5A9D39;
  transition: all 250ms linear;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 1.0em 1.25em;
  line-height: 1;
  font-weight: 600;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  text-align: center;
  border: 2px solid #5A9D39;
  margin-right: 7.5px;
  cursor: pointer; }

.op-btn:hover {
  color: #FFFFFF;
  text-decoration: none;
  background: #4C8430;
  border: 2px solid #4C8430; }

.navbar-omni {
  background-color: transparent;
  font-family: "museo-sans", sans-serif;
  margin-bottom: 0px;
  font-size: 14.5px;
  font-weight: 400; }
  .navbar-omni a {
    color: #2c99b6;
    text-decoration: none; }
  .navbar-omni a:hover {
    text-decoration: underline;
    background-color: transparent; }
  .navbar-omni .navbar-brand {
    padding-top: 20px;
    padding-bottom: 10px; }
  .navbar-omni li {
    padding-top: 20px;
    padding-bottom: 20px; }
  .navbar-omni li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  .navbar-omni li > a.signin {
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    opacity: 1;
    -webkit-box-shadow: 0 0 0 1px #388CA3 inset;
    box-shadow: 0 0 0 1px #388CA3 inset;
    letter-spacing: 0.75px;
    font-weight: 500;
    color: #388CA3; }
  .navbar-omni li > a.signin:hover {
    transition: all 250ms linear;
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    opacity: 1;
    -webkit-box-shadow: 0 0 0 1px #388CA3 inset;
    box-shadow: 0 0 0 1px #388CA3 inset;
    letter-spacing: 0.75px;
    font-weight: 500;
    background-color: #388CA3;
    color: #E4FAEF; }

.navbar-omni.navbar-omni-dark {
  background-color: #222223; }
  .navbar-omni.navbar-omni-dark a {
    color: #FFF;
    text-decoration: none; }
  .navbar-omni.navbar-omni-dark a:hover {
    text-decoration: underline; }

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent; }

@media screen {
  body {
    background-color: #F7FCF9; }

  .marketing {
    font-family: "museo-slab", sans-serif;
    font-size: medium;
    color: #3B3B3E;
    font-weight: 300; }
    .marketing #introduction {
      margin-bottom: -1; }
    .marketing #support-menu {
      margin-right: 45px;
      padding: 15px;
      border: 1px solid #D0E4DA;
      border-radius: 6px;
      background-color: #FFF; }
    .marketing .signup-form {
      padding: 15px;
      border: 1px solid #D0E4DA;
      border-radius: 6px;
      background-color: #FFF; }
    .marketing .integrations {
      background-color: #3B3B3E;
      padding-top: 30px;
      padding-bottom: 30px; }
      .marketing .integrations h3 {
        border-top: 1px #8E8E94 solid;
        text-align: center; }
        .marketing .integrations h3 .head-container {
          color: #C7C7D1;
          font-size: 24px;
          margin-top: -12px; }
          .marketing .integrations h3 .head-container .head {
            background-color: #3B3B3E;
            padding-left: 15px;
            padding-right: 15px; }
    .marketing #featured {
      padding-top: 60px; }
    .marketing .main-content {
      position: relative;
      color: #333;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: 100%;
      text-align: center;
      padding-top: 30px; }
      .marketing .main-content h1 {
        padding-bottom: 15px;
        font-weight: bold;
        font-family: "museo-sans";
        font-size: 36px;
        color: #3B3B3E;
        line-height: 42px;
        /* Raise funds for your: */ }
      .marketing .main-content .pitch {
        padding-bottom: 75px; }
        .marketing .main-content .pitch p {
          font-family: "museo-slab";
          font-size: 20px;
          color: #5B5B5E;
          line-height: 26px;
          /* Omnipledge helps you: */
          padding-bottom: 30px; }
      .marketing .main-content p {
        font-family: "museo-slab";
        font-size: 16px;
        color: #5B5B5E;
        line-height: 26px;
        /* Omnipledge helps you: */
        padding-bottom: 30px; }
      .marketing .main-content .form-group p {
        padding-bottom: 0px; }
      .marketing .main-content h3 {
        font-family: "museo-sans";
        font-size: 18px;
        color: #3B3B3E;
        line-height: 25px;
        margin-bottom: 30px; }
      .marketing .main-content img {
        margin-bottom: 0px;
        max-width: 100%; }
      .marketing .main-content .features-row-1 {
        margin-bottom: 60px; }
      .marketing .main-content .feature img {
        padding-bottom: 15px; }
      .marketing .main-content .message-shot {
        background: url("/images/Minimal-iPhone-Dark-Flat@2x.png") no-repeat right top;
        background-size: auto 100%;
        height: 600px; }
      .marketing .main-content .op-btn.learn-more {
        margin-left: 7.5px;
        font-family: "museo-sans";
        color: #5A9D39;
        background-color: transparent;
        border-radius: 4px;
        text-transform: uppercase;
        border: 2px solid #5A9D39;
        padding: 1.0em 1.25em;
        line-height: 1;
        font-size: 16px;
        font-weight: 600;
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        white-space: nowrap;
        text-align: center; }
      .marketing .main-content .op-btn.learn-more:hover {
        border: 2px solid #4C8430;
        color: #4C8430; }
    .marketing .flat .plan {
      border-radius: 6px;
      list-style: none;
      padding: 0 0 20px;
      margin: 0 0 15px;
      background: #F9F9F9;
      text-align: center; }
    .marketing .flat .plan li {
      padding: 10px 15px;
      color: #46465C;
      border-top: 1px solid #D8D8D8;
      -webkit-transition: 300ms;
      transition: 300ms; }
    .marketing .flat .plan li.plan-price {
      border-top: 0; }
    .marketing .flat .plan li.plan-name {
      border-radius: 6px 6px 0 0;
      padding: 15px;
      font-size: 24px;
      line-height: 24px;
      color: #fff;
      background: #46465C;
      margin-bottom: 30px;
      border-top: 0; }
    .marketing .flat .plan li > strong {
      color: #46465C; }
    .marketing .flat .plan li.plan-action {
      margin-top: 10px;
      border-top: 0; }
    .marketing .flat .plan.featured {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
    .marketing .flat .plan.featured li.plan-name {
      background: #000; }
    .marketing .flat .plan.featured:hover li.plan-name {
      background: #46465C; }
    .marketing .flat .plan:hover li.plan-name {
      background: #000; }
    .marketing .navbar-nav a.signin {
      margin-left: 15px; }
    .marketing h4.pricing-headline {
      margin-top: 0px;
      margin-bottom: 30px;
      font-size: 22px; }
    .marketing .pricing-feature {
      font-family: "museo-sans";
      font-size: 14px;
      color: #8E8E94; }
    .marketing p.help-block {
      font-size: 14px; } }

/*# sourceMappingURL=marketing.css.map */
