<div ng-include="'/views/public/partials/navbar.html'"></div>


<div class="main-content">

  <div class="container">

    <div id="features-title" class="row">
      <h1>Here's what we offer</h1>
<br>    </div>
    <div id="features-row-1" class="row">
      <div class="col-md-4 feature">
        <h3>Free donation page</h3>
        <img src="/images/Iphone@2x.png" height="110px" width="auto">
        <p>
          We’ve spent time building the
          best donation page so you don’t
          have to.
        </p>
      </div>

      <div class="col-md-4 feature">
        <h3>No signup or monthly fee</h3>
        <img src="/images/$0@2x.png" height="110px" width="auto">

        <p>
          While other services charge
          thousands of dollars just
          to get you up and running,
          with us it’s always free to start your account.
        </p>
      </div>

      <div class="col-md-4 feature">
        <h3>Valuable donor insights</h3>
        <img src="/images/Our pie@2x.png" height="110px" width="auto">
        <p>
          Our unique DonationCapture&trade; technology allows us to track
          a user’s donations across SMS, mobile, and desktop web.
        </p>
      </div>
    </div>
    <div id="features-row-2" class="row">
      <div class="col-md-4 feature">
        <h3>No dollar limit</h3>
        <img src="/images/Infinity@2x.png" height="110px" width="auto">
        <p>
          There’s no limit to the dollar amount per pledge. We know every dollar counts when you’re helping a cause!
        </p>
      </div>

      <div class="col-md-4 feature">
        <h3>Cross-platform export</h3>
        <img src="/images/export@2x.png" height="110px" width="auto">
        <p>
          No matter if you’re a one-person outfit, or a nation-wide nonprofit, it’s important for your tools to work together.
        </p>
      </div>

      <div class="col-md-4 feature">
        <h3>Instant signup</h3>
        <img src="/images/lightning@2x.png" height="110px" width="auto">
        <p>
          We hate waiting too. Start fundraising now! No approval period or appointment necessary.
        </p>
      </div>
    </div>

    <div id="signup-prompt" class="row">
      <div class="col-sm-12">
        <hr>
        <h1 style="margin-bottom: 0px; margin-top: 90px;">Ready to get started?</h1>
        <p>Signup online today. No payment info required, no monthly or signup fees. </p>
        <p style="text-align: center; padding-bottom: 30px; padding-top: 15px;">
          <a class="op-btn" href="#/signup">
            Signup Now
          </a>
        </p>
      </div>
    </div>

  </div>

</div>

<div ng-include="'/views/public/partials/footer.html'"></div>
