<nav class="navbar navbar-static-top navbar-omni navbar-omni-dark" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="/images/logo@2x.png" height="45px" width="auto"></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/">Home</a></li>
      <li><a href="/#signup">Register</a></li>
      <li><a href="/admin.html">Sign in</a></li>
    </ul>
  </div><!-- /.container-fluid -->
</nav>

<section id="password_recovery" class=" password-recovery">
  <div class="section-content">
    <div class="wrap">
      <div class="container" style="padding-top: 90px;">
        <div class="form-wrap">
          <div class="row">
            <div class="col-xs-12 col-sm-3 col-sm-offset-1 brand">
              <img src="/images/forgot@4x.png" height="200px" width="auto">
            </div>
            <div class="col-sm-1 hidden-xs">
              <div class="horizontal-divider"></div>
            </div>
            <div class="col-xs-12 col-sm-5 main">
              <h2>Forgot your password?</h2>
              <p>Not to worry. Just enter your email address below and we'll send you an instruction email for recovery.</p>
              <form>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email" required="required" ng-model="email">
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="alert alert-info" role="alert" ng-show="message && !error">
                      <strong>Good news!</strong>
                      {{message}}
                    </div>
                    <div class="alert alert-danger" role="alert" ng-show="error">
                      <strong>Oops!</strong>
                      {{message}}
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <button type="submit" class="btn btn-block btn-lg reset" ng-click="reset(email)">

                      Reset Password</button>

                  </div>




                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>