<div ng-include="'/views/public/partials/navbar.html'"></div>


<div class="main-content">

  <div class="container">

    <section id="help-title" class="row">
      <h1>Help & Contact</h1>
    </section>
    <section id="help-lead" style="padding-bottom: 60px;">
      <p style="padding-bottom: 15px;">
        Have a question? We add frequently asked questions to this knowledge base. If you don't see your answer here, feel free to contact us.
      </p>
      <a class="op-btn" style="font-size: 14px;" href="mailto:support@omnipledge.com" target="_blank">
        Contact Us
      </a>
    </section>

    <div class="row">
      <div class="col-md-4" style="text-align: left;">
        <ul class="nav nav-pills nav-stacked" id="support-menu">
          <li><a href="/#/help#linking-account">Linking a bank account</a></li>
          <li><a href="/#/help#exporting-data">Exporting data</a></li>
          <li><a href="/#/help#forgot-password">Resetting your password</a></li>
          <li><a href="/#/help#high-volume">Volume pricing</a></li>
          <li><a href="/#/help#account-info">Updating account details</a></li>
          <li><a href="/#/help#refunding-donations">Refunding donations</a></li>
          <li><a href="/#/help#donation-limits">Donation limits</a></li>
          <li><a href="/#/help#payment-sched">Payment schedule</a></li>
          <li><a href="/#/help#security">Security</a></li>
          <li><a href="/#/help#pricing">Pricing Structure</a></li>
          <li><a href="/#/help#donors">How to donate</a></li>
          <li><a href="/#/help#how-works">How it works</a></li>
        </ul>
      </div>
      <div class="col-md-8">
        <section id="help-content" style="text-align: left">
          <article id="linking-account">
            <h2>Linking your bank account to Omnipledge</h2>
            <ol>
              <li>Sign in to your Omnipledge account</li>
              <li>Click Account</li>
              <li>Click the Connect Account button      </li>
              <li>Complete the secure form with your bank’s routing number and your account number. Press Connect.
              </li>

            </ol>
          </article>

          <article id="exporting-data">
            <h2>Exporting your donor data</h2>
            <p>We've provided links to a import instructions for a some of the popular products that we integration.</p>
            <ul>
              <li>
                <a href="http://office.microsoft.com/en-us/excel-help/import-or-export-text-txt-or-csv-files-HP010099725.aspx">
                  Microsoft Excel
                </a>
              </li>

              <li>
                <a href="http://office.microsoft.com/en-us/outlook-help/import-contacts-from-an-excel-spreadsheet-HA102919779.aspx">
                  Microsoft Outlook
                </a>
              </li>

              <li>
                <a href="http://support2.constantcontact.com/articles/FAQ/3839">
                  Constant Contact
                </a>
              </li>

              <li>
                <a href="http://kb.mailchimp.com/article/how-do-i-create-and-import-my-list/">
                  MailChimp
                </a>
              </li>

              <li>
                <a href="https://support.google.com/mail/answer/14024?hl=en">
                  Gmail
                </a>
              </li>

              <li>
                <a href="https://support.google.com/docs/answer/40608?hl=en">
                  Google Spreadsheet
                </a>
              </li>

              <li>
                <a href="https://www.blackbaud.com/files/support/guides/re7/import_tutorial.pdf">
                  Blackbaud Raiser’s Edge (PDF)
                </a>
              </li>
            </ul>


          </article>

          <article id="forgot-password">
            <h2>Forgot Password</h2>
            <p>
              Visit http://www.omnipledge.com/index.html#/forgot-password and follow the instructions to reset your password with your email address.
            </p>
          </article>

          <article id="high-volume">
            <h2>Accounts with high volume donations</h2>
            <p>
              If your account is experiencing high donation volume, send us an email at accounts@omnipledge.com to discuss special pricing options.
            </p>
          </article>

          <article id="account-info">
            <h2>Update account information</h2>
            <p>
              If you need to change the email or name associated with your account, send us an email at accounts@omnipledge.com. Unfortunately, you cannot change your account’s text code.
            </p>
          </article>

          <article id="refunding-donations">
            <h2>Refunding donations </h2>
            <p>
              Donations can only be refunded before the next payment date (1st and 15th of each month). To refund a donation, contact us at accounts@omnipledge.com.
            </p>
          </article>

          <article id="donation-limits">
            <h2>Donation Limits</h2>
            <p>
              SMS donations must be at least $1.00, but there is no cap on donation amount.
            </p>
          </article>

          <article id="payment-sched">
            <h2>Payment Schedule</h2>
            <p>
              Omnipledge disperses account payments on the 1st and 15th day of every month. Each dispersement will include donations made up to 3 days prior to that date to allow for payment processing.
            </p>
          </article>

          <article id="security">
            <h2>Security</h2>
            <p>
              Omnipledge uses 128-bit SSL encryption to ensure maximum security for you and your donors. All payments are handled through our PCI compliant processor Stripe.
            </p>
          </article>

          <article id="pricing">
            <h2>Pricing Structure</h2>
            <p>
              Omnipledge collects 7% and $0.39 on each donation.
            </p>
          </article>

          <article id="donors">
            <h2>What donors will see</h2>
            <p>
              Once your donors send a message with your text code, we will direct them to a secure, mobile web form to enter their preferred payment information. They will then receive an email receipt of their donation for their records. If that person has donated with Omnipledge before they will not have to re-enter their payment information. Instead, the donation will be completed purely through SMS.
            </p>
          </article>

          <article id="how-works">
            <h2>How it works</h2>
            <p>
              When you signup for Omnipledge, you’ll pick a text code for your cause. Your donors can then send SMS text messages to 1 (855)476-7177 with your text code to make a donation. You can log into your account and view your donor data or export it. Funds will automatically be securely transferred to your connected bank account.        </p>
          </article>

        </section>
      </div>
    </div>


  </div>

</div>

<div ng-include="'/views/public/partials/footer.html'"></div>


















