<nav class="navbar navbar-static-top navbar-omni" role="navigation" >
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand animated bounceInLeft" href="#"><img src="/images/logo@2x.png" height="45px" width="auto"></a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li style="display: none;"><a href="#/how">How it Works</a></li>
        <li><a href="#/features">Features</a></li>
        <li><a href="#/help">Support</a></li>
        <li><a href="#/signup">Register</a></li>
        <li><a href="/admin.html" class="signin">Login</a></li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>

<div class="main-content">

    <section id="introduction">
      <div class="container">

      <div id="pitch" class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="pitch">
            <h1>Raise funds for your cause through effective mobile giving.</h1>
            <p>Omnipledge helps your cause build a rich donor base by collecting cash through SMS messaging.</p>
            <a class="op-btn signup" href="#/signup">Get Started</a>
            <a class="op-btn learn-more" href="#/features">Learn More</a>

          </div>
        </div>
      </div>

      <div id="sms-example" class="row">
        <div class="col-sm-12">
          <img src="/images/example@2x.png">
        </div>
      </div>
      </div>

    </section>

    <section class="integrations">
      <div class="container">
        <h3>
          <div class="head-container">
                      <span class="head">
            Products we integrate with
          </span>
          </div>

        </h3>
        <img src="images/Integrations%202@2x.png" width="100%" height="auto">
      </div>
    </section>

  <section id="featured-organizations">
    <div class="container">

    <div id="features-row-2" class="row">
      <h2>Featured Organizations</h2>
    </div>

    <div id="features-row-1" class="row">
      <div class="col-md-4 feature">
        <h3>Dementia Society</h3>
        <img src="/images/dementia-society.png" height="110px" width="auto">    
      </div>

      <div class="col-md-4 feature">
        <h3>Mission: Results</h3>
        <img src="/images/mission-results.png" height="110px" width="auto">
      </div>

      <div class="col-md-4 feature">
        <h3>Reall Starr Entertainment</h3>
        <img src="/images/reall-starr-ent.png" height="110px" width="auto">     
      </div>
    </div>

    </div>
  </section>

  <section id="featured">
  <hr>
    <div class="container">

    <div id="features-row-1" class="row">
      <div class="col-md-4 feature">
        <h3>Free donation page</h3>
        <img src="/images/Iphone@2x.png" height="110px" width="auto">
        <p>
          We’ve spent time building the
          best donation page so you don’t
          have to.
        </p>
      </div>

      <div class="col-md-4 feature">
        <h3>No signup or monthly fees</h3>
        <img src="/images/$0@2x.png" height="110px" width="auto">

        <p>
          Other services charge
          thousands of dollars just
          to get you up and running,
          with us it’s always free to start your account.
        </p>
      </div>

      <div class="col-md-4 feature">
        <h3>Unlimited donations</h3>
        <img src="/images/Infinity@2x.png" height="110px" width="auto">
        <p>
          There’s no limit to the dollar amount per pledge. We know every dollar counts when you’re helping a cause!
        </p>
      </div>
    </div>    

    </div>
  </section>

  <section class="signup-prompt" class="row">
    <div class="container">
      <div class="col-sm-12">
        <hr>
        <h1 style="margin-bottom: 0px; margin-top: 90px;">Ready to get started?</h1>
        <p>Signup online today. No payment info required, no monthly or signup fees. </p>
        <p style="text-align: center; padding-bottom: 30px; padding-top: 15px;">
          <a class="op-btn" href="#/signup">
            Signup Now
          </a>
        </p>
      </div>
    </div>
  </section>

</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <hr>
      </div>
      <div class="col-sm-8">
        <h4>We're here to help &mdash; seriously.</h4>
        <p>
          Have any questions about volume pricing, new features, or just want more information? If there's anything we can do to help, please don't hesitate to email us.
        </p>
        <br>

        <div class="row">
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li><strong>Samuel McLaughlin</strong></li>
              <li>Cofounder</li>
              <li>sam@omnipledge.com</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li><strong>Ricky Kirkendall</strong></li>
              <li>Cofounder</li>
              <li>ricky@omnipledge.com</li>
            </ul>
          </div>
        </div>
        <br>

        <h4>About Omnipledge</h4>
        <p>
          Omnipledge is the easiest way to take SMS and mobile donations for your organization or cause. We believe that every cause should have access to the best donation tools, regardless of budget or size. No signup costs, no monthly fees and no donation limits.
        </p>

      </div>
      <div class="col-sm-3 col-sm-offset-1">
        <h4>Site</h4>
        <ul class="list-unstyled">
          <li><a href="/">Home</a></li>
          <li style="display: none;"><a href="#">How it Works</a></li>
          <li><a href="#/features">Features</a></li>
          <li><a href="#/help">Help</a></li>
          <li><a href="#/signup">Register</a></li>
          <li><a href="/admin.html">Login</a></li>
        </ul>
        <br>

        <h4>Legal</h4>
        <ul class="list-unstyled">
          <li><a href="https://www.iubenda.com/privacy-policy/658352" target="_blank">Privacy Policy</a></li>
          <li><a href="#/terms">Terms of Service</a></li>

        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" style="text-align: right;">
        &copy; Campaignr LLC
      </div>
    </div>
  </div>
</div>
