<div ng-include="'/views/public/partials/navbar.html'"></div>

<div class="main-content">
  <div class="container">

    <div id="subscription-container" class="row" style="margin-bottom: 30px;">
      <div class="col-md-5" style="text-align: left;" ng-include="'/views/public/partials/subscription-form.html'"></div>
      <div class="col-md-4 col-md-offset-2 flat" style="text-align: left; margin-top: 30px;" ng-include="'/views/public/partials/pricing.html'"></div>
    </div>
  </div>

</div>
<div ng-include="'/views/public/partials/footer.html'"></div>
