<div ng-include="'/views/admin/partials/navbar.html'"></div>

<div class="statistics">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Account</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row" style="margin-top: 30px" ng-show="!subscriptionExists">
    <div class="alert alert-warning" role="alert">
      You don't have a subscription yet. Please create a subscription before receiving donations.
    </div>
  </div>

  <div class="row" style="margin-top: 30px;">
    <div class="col-sm-6">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label  class="col-sm-4 control-label">Account Name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control"  disabled ng-model="name">
          </div>
        </div>

        <div class="form-group">
          <label  class="col-sm-4 control-label">Email</label>
          <div class="col-sm-8">
            <input type="email" class="form-control" disabled ng-model="email">
          </div>
        </div>

        <div class="form-group">
          <label  class="col-sm-4 control-label">Text Code</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" disabled ng-model="textCode" contenteditable="false">
          </div>
        </div>

        <div class="form-group">
          <label  class="col-sm-4 control-label">Bank Account</label>
          <div class="col-sm-8">
            <p class="help-block">
            <button class="btn btn-primary" ng-click="linkBank()" ng-hide="hasBankAccount">Connect Account</button>
            <span ng-show="hasBankAccount">
              Connected <a ng-click="linkBank()" href style="float: right;"> Connect Different Account</a>
            </span>
            <p class="help-block">
              We currently disperse funds to connected bank accounts on the 1st and 15th of each month. Interested in other payment options? <a target="_blank" href="mailto:accounts@omnipledge.com?subject=Other Payment Options">Let us know.</a>
            </p>
            </p>

          </div>
        </div>

      </form>
    </div>
    <div class="col-sm-4 col-md-offset-2 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading ">
          <h3 class="panel-title">Need Help?</h3>
        </div>
        <div class="panel-body">
          <p>
            Questions, comments, or just want to say hi?<br> We're happy to help and available 24/7. Send us an email at <strong>accounts@omnipledge.com</strong>.
          </p>
          <a target="_blank" href="mailto:accounts@omnipledge.com">Email us <i class="fa fa-chevron-circle-right"></i> </a>
        </div>
      </div>
    </div>
  </div>
</div>