<div ng-include="'/views/admin/partials/navbar.html'"></div>

<div class="statistics">
  <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h1 class="amount">{{donations[0]['Amount']/100 || 0 | currency}}</h1>
          <h3>Last Donation</h3>
        </div>

        <div class="col-sm-3">
          <h1 class="amount">{{donations.length || 0 }}</h1>
          <h3>Total Donors</h3>
        </div>

        <div class="col-sm-3">
          <h1 class="amount">{{((total()/100)/donations.length) || 0  | currency}}</h1>
          <h3>Average Donation</h3>
        </div>

        <div class="col-sm-3">
          <h1 class="amount">{{(total()/100) || 0 | currency}}</h1>
          <h3>Total Volume</h3>
        </div>
      </div>
  </div>
</div>



<div class="container">

  <div class="row" style="margin-top: 30px" ng-show="!subscriptionExists">
    <div class="alert alert-warning" role="alert">
      You don't have a subscription yet. Please create a subscription before receiving donations.
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="row" style="vertical-align: bottom; margin-top: 30px; margin-bottom: 15px;" >
        <div class="col-md-6">
          <h3 style="margin: 0; padding: 0;">Donations <a href ng-csv="donations" filename="donations.csv" style="font-size: 14px;">Export CSV</a> </h3>
        </div>
        <div class="col-md-3 col-md-offset-3">
          <input type="search" class="form-control" placeholder="Search" ng-model="searchText">
        </div>
      </div>

      <table class="table">
        <thead>
        <tr>
          <th>Amount</th>
          <th>Name</th>
          <th>Donation Taken By</th>
          <th>Date</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="donation in donations | filter:searchText">
          <td>{{(donation['Amount']/100) | currency}}</td>
          <td>{{donation['Name']}}</td>
          <td>{{donation['Method']}}</td>
          <td>{{donation['Timestamp']*1000 | date:'medium'}}</td>
        </tr>

        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary" style="margin-top: 30px;" ng-hide="hasBankAccount">
        <div class="panel-heading ">
          <h3 class="panel-title">Connect Your Bank Account</h3>
        </div>
        <div class="panel-body">
          <p>
            You can start taking donations with Omnipledge immediately, but to get paid you'll need to connect your bank account.
          </p>
          <a href="#/app/account">Go to Account <i class="fa fa-chevron-circle-right"></i> </a>
        </div>
      </div>
      <div class="panel panel-default" style="margin-top: 30px;">
        <div class="panel-heading">
          <h3 class="panel-title">How to Take Donations</h3>
        </div>
        <div class="panel-body" style="text-align: center;">
          <div>Text the code</div>
          <h1 style="text-transform: uppercase;">{{textCode}}</h1>
          <div>to</div>
          <h1>+1-855-476-7177</h1>
          <hr>
          <p>Or visit</p>
          <a ng-href="https://www.omnipledge.com/donate/{{textCode}}">https://www.omnipledge.com/donate/{{textCode}}</a>
        </div>
      </div>
    </div>
  </div>
</div>