<nav class="navbar navbar-static-top navbar-omni navbar-omni-dark" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/index.html"><img src="/images/logo@2x.png" height="45px" width="auto"></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/">Home</a></li>
      <li><a href="/#signup">Register</a></li>
      <li><a href="/admin.html">Login</a></li>
    </ul>
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="alert alert-info" ng-show="signedUp" style="margin-top: 20px;">
    We've sent you verification email. Please check your inbox and click verification link before login.
  </div>

  <form class="form-signin" role="form" style="width: 300px; margin: 0 auto; padding-top: 90px;">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input ng-model="user.email" type="email" class="form-control" placeholder="Email address" required="" autofocus="" style="margin-top: 30px;">
    <input type="password" ng-model="user.password"  class="form-control" placeholder="Password" required="" style="margin-top: 15px;">
    <Br>
    <p><a ng-href="/index.html#/forgot-password">Forgot Password?</a>  <a href="/index.html#signup" style="float: right;">Create an account</a></p>
    <Br>
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login(user)" ng-disabled="loggedIn">
      <i class="fa fa-refresh fa-spin" ng-show="loading"></i>
      Login
    </button>


    <br>
    <br>
    <div class="alert alert-info" ng-show="loggedIn">
      <strong>Success!</strong>
    </div>

    <div class="alert alert-warning" ng-show="error">
      <strong>Oops!</strong>
      {{result}}
    </div>
  </form>
</div>
