<div ng-include="'/views/admin/partials/navbar.html'"></div>

<div class="statistics">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Subscription</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div style="margin-top: 30px" ng-show="!subscriptionExists">
    <div class="alert alert-warning" role="alert">
      You don't have a subscription yet. Please create a subscription before receiving donations.
    </div>
  </div>

  <div style="margin-top: 30px" ng-show="subscriptionExists">
    <div class="alert alert-info" role="alert">
      You have an existing subscription, and you can cancel it here.
    </div>
  </div>

  <div class="row" style="margin-top: 30px;">

    <div class="col-sm-12">
      <div class="alert alert-success" role="alert" ng-show="success">
        Subscription saved successfully!
      </div>
      <div class="alert alert-success" role="alert" ng-show="successCancel">
        Subscription canceled successfully!
      </div>
      <div class="alert alert-danger" role="alert" ng-show="error">
        {{ errorText }}
      </div>
    </div>

    <div class="col-sm-6">
      <form method="POST" id="subscription-payment-form" class="form-horizontal"
        style="margin-bottom: 50px;"
        role="form" ng-submit="submitPaymentForm()" ng-show="!subscriptionExists">
        <span class="payment-errors"></span>

        <div class="form-group">
          <label class="col-sm-4 control-label">Card Number</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" size="20" data-stripe="number" ng-disabled="submitting">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label">Expiration (MM/YY)</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" size="2" data-stripe="exp_month" ng-disabled="submitting" style="display: inline-block; max-width: 80px;">
            <span style="display: inline-block; margin: 0 10px;">/</span>
            <input type="text" class="form-control" size="2" data-stripe="exp_year" ng-disabled="submitting" style="display: inline-block; max-width: 80px;">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label">CVC</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" size="4" data-stripe="cvc" ng-disabled="submitting">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-8 col-sm-offset-4">
            <input type="submit" class="btn btn-primary" class="submit" value="Save" ng-disabled="submitting">
          </div>
        </div>
      </form>

      <form method="POST" id="subscription-cancel-form" class="form-horizontal" role="form" ng-submit="cancelSubscription()" ng-show="subscriptionExists">
        <div class="form-group">
          <label class="col-sm-4 control-label">Cancel Subscription</label>
          <div class="col-sm-8">
            <input type="submit" class="btn btn-danger" class="submit" value="Cancel Subscription" ng-disabled="canceling">
          </div>
        </div>
      </form>
    </div>

    <div class="col-sm-4 col-md-offset-2 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading ">
          <h3 class="panel-title">Need Help?</h3>
        </div>
        <div class="panel-body">
          <p>
            Questions, comments, or just want to say hi?<br> We're happy to help and available 24/7. Send us an email at <strong>accounts@omnipledge.com</strong>.
          </p>
          <a target="_blank" href="mailto:accounts@omnipledge.com">Email us <i class="fa fa-chevron-circle-right"></i> </a>
        </div>
      </div>
    </div>

  </div>
</div>