<nav class="navbar navbar-static-top navbar-omni navbar-omni-dark" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/app/dashboard"><img src="/images/logo@2x.png" height="45px" width="auto"></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#/app/dashboard">Dashboard</a></li>
      <li><a href="#/app/subscription">Subscription</a></li>
      <li><a href="#/app/account">Account</a></li>
      <li><a href="/#/help" target="_blank">Help</a></li>
      <li><a href ng-click="signout()">Sign out</a></li>
    </ul>
  </div><!-- /.container-fluid -->
</nav>